body {
  background-color: #eee;
}

#im { 
  clear: right;
}

img {
  border: none;
}

.navhead {
  background: #ccc;
  border-bottom: 1px solid black;
}

.pagebody {
  width: 40em;
  margin: auto;
  margin-top: 1em;
  background-color: white;
  padding: 0.5em 1em 0.5em 1em;
}

.navfoot {
  background: #cccccc;
}

h2 {
  padding-top: 1em;
}

div.pagebody > h2:first-child {
  padding-top: 0;
}

a.nonexistent {
  color: red
}

pre {
  border: #777 1px solid;
  padding: 0.5em;
  white-space: pre;
  background-color: #ffd;
  color: black;
}

.verse {
  white-space: pre;
  margin-left: 1em;
}

dt { 
  font-weight: bold;
}

tfoot {
  font-size: 0.8em;
  font-style: italic;
}
